/***
 * global styles
 */

/* reset: IE doesn't know about main */
main { display: block; }

body .debug {
  display: none;
}
body.debug .debug {
  display: block;
  background-color: #ddf;
}

.unsupportedBrowser {
  display: none; /**/
}

html.unsupportedBrowser div.unsupportedBrowser,
.noscript {
  display: block;
  float: left;
  max-width: 70%;
  margin: 1ex;
  border: 1px solid black;
  padding: 1ex 1em;
  background-color: pink;
}

body.debug, body.localhost {
  border: 1px dashed #00f;
}

body {
  position: relative;
  min-height: 99vh;
  background-color: #fcfcfc;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  background-color: #000;
  transition: all 0.25s;
}

.hidden {
  display: none;
}

.tags {
  font-size: 50%;
  line-height: 2ex;
}

.tags a {
  display: inline-block;
  border: 1px solid transparent;
  padding: 0 0.5em;
  background-color: #f3f3f3;
  color: #777 !important;
  letter-spacing: 0.2ex;
  text-transform: uppercase;
  text-decoration: none;
}
.tags a:hover, .tags a:focus {
  text-decoration: none;
/* outline: 1px dotted black; /**/
}

.tags a.category {}

span.eighth-0,
span.eighth-1,
span.eighth-2,
span.eighth-3,
span.eighth-4,
span.eighth-5,
span.eighth-6,
span.eighth-7 { display: none; }

.eighth-0 .eighth-0,
.eighth-1 .eighth-1,
.eighth-2 .eighth-2,
.eighth-3 .eighth-3,
.eighth-4 .eighth-4,
.eighth-5 .eighth-5,
.eighth-6 .eighth-6,
.eighth-7 .eighth-7 { display: inline; }


.loading .page-pic {
  opacity: 0.1;
  margin-top: -1.01rem;
}

.page-pic {
  display: block;
  float: right;
  margin: 0 1em 1ex;
  opacity: 1;
  transition: 1s all;
}
.page-pic img, .page-pic .fig {
  width: 10vw;
  max-height: 10vw;
  margin: -1rem 0 0 0;
  border-radius: 10%;
}
.page-pic figcaption {
  display: none;
}

.clock.fig {
  height: 10vw;
  background-color: #eee;
  background-color: rgba(0, 0, 0, 0.1);
}
.clock {
  display: inline-block;
  position: relative;
  min-width:  24px;
  min-height: 24px;
  background-color: #ccc;
  border: 0.25ex solid #999;
}
.clock:after {
  content: "";
  width:  10%;
  height: 10%;
  left: 50%;
  top: 50%;
  border-radius: 50%;
}
.clock > div {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
}
.clock:after, .clock > div > div {
  position: absolute;
  background-color: #000;
  transform-origin: 50% 100%;
}
.clock:after {
  transform: translate(-50%, -50%);
}
.clock .hours div {
  width: 4%;
  height: 20%;
  left: 48%;
  top: 29%;
}
.clock .minutes div {
  width: 3%;
  height: 40%;
  left: 49%;
  top: 12%;
}
.clock .seconds div {
  display: none;
  width: 2%;
  height: 45%;
  left: 49.5%;
  top: 14%;
  transform-origin: 50% 80%;
}
@keyframes rotate { 100% { transform: rotateZ(360deg); } }
.clock .hours   { animation: rotate 43200s infinite steps(12); }
.clock .minutes { animation: rotate  3600s infinite steps(60); }
.clock .seconds { animation: rotate    60s infinite steps(60); }



/* socialicons licensed from http://azmind.com/2012/11/06/social-icons-sprites-35-ready-to-use-icons-psd-png-html-css/ */

.socialicons a {
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  margin: 6px;
  border-radius: 3px;
  text-indent: -9em;
  background: left -34px no-repeat;
  vertical-align: middle;
  transition: all .3s;
}
.socialicons a:hover, .socialicons a:focus { background-color: #777; }
.socialicons a.twitter { background-image: url(../images/social-icons/twitter.png);}
.socialicons a.dribbble { background-image: url(../images/social-icons/dribbble.png);}
.socialicons a.feed { background-image: url(../images/social-icons/rss.png);}
.socialicons a.pinterest { background-image: url(../images/social-icons/pinterest.png);}
.socialicons a.digg { background-image: url(../images/social-icons/digg.png);}
.socialicons a.flickr { background-image: url(../images/social-icons/flickr.png);}
.socialicons a.forrst { background-image: url(../images/social-icons/forrst.png);}
.socialicons a.vimeo { background-image: url(../images/social-icons/vimeo.png);}
.socialicons a.reddit { background-image: url(../images/social-icons/reddit.png);}
.socialicons a.linkedin { background-image: url(../images/social-icons/linkedin.png);}
.socialicons a.facebook { background-image: url(../images/social-icons/facebook.png);}
.socialicons a.paypal { background-image: url(../images/social-icons/paypal.png);}
.socialicons a.stumbleupon { background-image: url(../images/social-icons/stumbleupon.png);}
.socialicons a.email { background-image: url(../images/social-icons/email.png);}
.socialicons a.deviantart { background-image: url(../images/social-icons/deviantart.png);}
.socialicons a.netvibes { background-image: url(../images/social-icons/netvibes.png);}
.socialicons a.yahoo { background-image: url(../images/social-icons/yahoo.png);}
.socialicons a.github { background-image: url(../images/social-icons/github.png);}
.socialicons a.addthis { background-image: url(../images/social-icons/addthis.png);}
.socialicons a.behance { background-image: url(../images/social-icons/behance.png);}
.socialicons a.blogger { background-image: url(../images/social-icons/blogger.png);}
.socialicons a.slashdot { background-image: url(../images/social-icons/slashdot.png);}
.socialicons a.technorati { background-image: url(../images/social-icons/technorati.png);}
.socialicons a.googleplus { background-image: url(../images/social-icons/googleplus.png);}
.socialicons a.apple { background-image: url(../images/social-icons/apple.png);}
.socialicons a.myspace { background-image: url(../images/social-icons/myspace.png);}
.socialicons a.sharethis { background-image: url(../images/social-icons/sharethis.png);}
.socialicons a.yelp { background-image: url(../images/social-icons/yelp.png);}
.socialicons a.delicious { background-image: url(../images/social-icons/delicious.png);}
.socialicons a.lastfm { background-image: url(../images/social-icons/lastfm.png);}
.socialicons a.youtube { background-image: url(../images/social-icons/youtube.png);}
.socialicons a.skype { background-image: url(../images/social-icons/skype.png);}
.socialicons a.tumblr { background-image: url(../images/social-icons/tumblr.png);}
.socialicons a.aim { background-image: url(../images/social-icons/aim.png);}
.socialicons a.google { background-image: url(../images/social-icons/google.png);}

/**
.dot {
  position: absolute;
  left: 90%;
  top: 2em;
  width:  1em;
  height: 1em;
  border-radius: 50%;
  background-color: #ccc;
  z-index: 1;
  transition: left 1s;
}

.loading .dot { left: 10%; }
/**/
