/***
 * global styles
 */

/* only used on the life/today page currently */
@import url("clock.css");

/* reset: IE doesn't know about main */
main { display: block; }

main footer p {
  text-shadow: 1px 1px 2px #eee;
}

main iframe {
  width: 400px;
  height: 300px;
  border: 0;
  max-width: 94vw;
}

body .debug {
  display: none;
}
body.debug .debug {
  display: block;
  background-color: #ddf;
}

.unsupportedBrowser {
  display: none; /**/
}

html.unsupportedBrowser div.unsupportedBrowser,
.noscript {
  display: block;
  float: left;
  max-width: 70%;
  margin: 1ex;
  border: 1px solid black;
  padding: 1ex 1em;
  background-color: pink;
}

body.debug, body.localhost {
  border: 1px dashed #00f;
}

body {
  position: relative;
  min-height: 99vh;
  background-color: #fcfcfc;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  background-color: #000;
  transition: all 0.25s;
}

.hidden {
  display: none;
}

.tags {
  padding: 0;
  list-style: none;
  font-size: 60%;
  line-height: 2ex;
}

.tags li {
  display: inline-block;
}

.tags a {
  display: inline-block;
  border-color: transparent;
  border-style: solid none;
  border-width: 1px;
  padding: 0 0.5em;
  background-color: #f3f3f3;
  color: #777 !important;
  letter-spacing: 0.2ex;
  text-transform: uppercase;
  text-decoration: none;
}
.tags a:hover, .tags a:focus {
  text-decoration: none;
/*  border-color: #bbb; /**/
}

.tags a.category {}

span.eighth-0,
span.eighth-1,
span.eighth-2,
span.eighth-3,
span.eighth-4,
span.eighth-5,
span.eighth-6,
span.eighth-7 { display: none; }

.eighth-0 .eighth-0,
.eighth-1 .eighth-1,
.eighth-2 .eighth-2,
.eighth-3 .eighth-3,
.eighth-4 .eighth-4,
.eighth-5 .eighth-5,
.eighth-6 .eighth-6,
.eighth-7 .eighth-7 { display: inline; }


.loading .page-pic {
  opacity: 0.1;
  margin-top: -1.01rem;
}

.page-pic figcaption { display: none;}
.page-pic {
  position: relative;
  display: block;
  float: right;
  margin: 0 1em 1ex;
  opacity: 1;
  transition: 1s all;
}

.page-pic img, .page-pic .fig {
  width: 200px;
  max-width: 15vw;
  margin: -1rem 0 0 0;
  border-radius: 10%;
  transition: 2s all;
}
@media (min-width: 48em) {
  .page-pic img, .page-pic .fig {
    width: 200px;
    max-width: 11vw;
  }
}

.page-pic img:hover,
.page-pic img:focus
.page-pic .fig:hover,
.page-pic .fig:focus {
  box-shadow: 0 0 1rem 0.5rem rgba(130, 100, 100, 0.08);
  background-color: #f3f0f0;
  background-color: rgba(130, 100, 100, 0.08);
}

.clock.fig {
  width: 15vw;
  height: 15vw;
  max-width: none;
  border-radius: 50%;
}
@media (min-width: 48em) {
  .clock.fig {
    width: 11vw;
    height: 11vw;
  }
}

.socialicons img {
  width: 1.5rem;
  display: inline-block;
  margin: 0 0.1rem;
  border-radius: 50%;
}

.socialicons img:hover, .socialicons img:focus {
  box-shadow: 0 0 1ex 1px #bbb;
}

/**
.dot {
  position: absolute;
  left: 90%;
  top: 2em;
  width:  1em;
  height: 1em;
  border-radius: 50%;
  background-color: #ccc;
  z-index: 1;
  transition: left 1s;
}

.loading .dot { left: 10%; }
/**/
