<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
    </div>
    <nav class="sidebar-nav">
      <a class="{% if page.url contains "life/index" %} active{% endif %}"
        href="{{ site.baseurl }}tech/index.html"
      >Notes</a>
      •
      <a class="{% if page.url contains "tech/blog" %} active{% endif %}"
        href="{{ site.baseurl }}tech/blog.html"
      >Blog</a>
      •
      <a class="{% if page.url contains "life/today" %} active{% endif %}"
        href="{{ site.baseurl }}life/today.html"
      ><time class="day">Today</time></a>
    </nav>
    <p class="socialicons">
        <a class="twitter" href="https://twitter.com/{{ site.author.twitter }}"><img
          src="{{ site.baseurl }}images/Free-Social-Icons/Twitter.svg" title="Twitter"
        /></a>
        <a class="linkedin" href="https://linkedin.com/in/{{ site.author.linkedin }}"><img
          src="{{ site.baseurl }}images/Free-Social-Icons/LinkedIN.svg" title="LinkedIn"
        /></a>
        <a class="feed" href="{{ site.baseurl }}tech/atom.xml"><img
          src="{{ site.baseurl }}images/Free-Social-Icons/RSS.svg" title="Newsfeed"
        /></a>
    </p>
  </div>
</aside>
