<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
    </div>
    <nav class="sidebar-nav">
      <a class="{% if page.url contains "life/index" %} active{% endif %}"
        href="{{ site.baseurl }}tech/index.html"
      >Tech</a>
  {% comment %}
      •
      <a class="{% if page.url contains "tech/blog" %} active{% endif %}"
        href="{{ site.baseurl }}tech/blog.html"
      >Blog</a>
  {% endcomment %}
      •
      <a class="{% if page.url contains "business/index" %} active{% endif %}"
        href="{{ site.baseurl }}business/index.html"
      >Business</a>
      •
      <a class="{% if page.url contains "life/today" %} active{% endif %}"
        href="{{ site.baseurl }}life/today.html"
      ><time class="day">Today</time></a>
    </nav>
    <p class="socialicons">
        <a class="twitter" href="https://mobile.twitter.com/{{ site.author.twitter }}"><img
          src="{{ site.baseurl }}images/Free-Social-Icons/Twitter.svg" title="Twitter"
        /></a>
        <a class="linkedin" href="https://linkedin.com/in/{{ site.author.linkedin }}"><img
          src="{{ site.baseurl }}images/Free-Social-Icons/LinkedIN.svg" title="LinkedIn"
        /></a>
        <a class="email"
            href='m&#97;&#105;lto&#58;hel&#108;o&#64;mo%6E&#37;74yd&#105;c%&#54;B%65rson&#46;%63&#37;&#54;Fm'
          ><img src="{{ site.baseurl }}images/Free-Social-Icons/Mail.svg" title="Email"
        /></a>
    </p>
  </div>
</aside>
