<!DOCTYPE html>
<!--[if IE]>
  <html class="unsupportedBrowser">
<![endif]-->
<!--[if !IE]><!-->
  <html>
 <!--<![endif]-->
 <head>

{% include liquid.html %}
{% include metadata.html %}
<meta http-equiv="Cache-Control" content="max-age=86400" />
<!--[if IE]><meta http-equiv="refresh"
  content="6; url=http://windows.microsoft.com/en-us/windows/is-computer-up-to-date">
<![endif]-->

<link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
<link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
{% if page.stylesheet %}<link rel="stylesheet" href="{{ site.baseurl }}css/{{ page.stylesheet }}.css">{% endif %}

</head>
<body class="layout-reverse loading">

{{ content }}
<div id="overlay"></div>
<script async defer src="{{ site.baseurl }}js/deferred.js"></script>
<script src="{{ site.baseurl }}js/script.js"></script>
{% if page.script %}<script src="{{ site.baseurl }}js/{{ page.script }}.js"></script>{% endif %}

</body>
</html>
