<!DOCTYPE html>
<!--[if IE]>
  <html class="no-js unsupportedBrowser">
<![endif]-->
<!--[if !IE]><!-->
  <html class="no-js ">
 <!--<![endif]-->
 <head>

{% include liquid.html %}
{% include metadata.html %}
<meta http-equiv="Cache-Control" content="max-age=86400" />
{% comment %} Meta Refresh old IE {% endcomment %}
<!--[if IE]><meta http-equiv="refresh"
  content="30; url=http://windows.microsoft.com/en-us/windows/is-computer-up-to-date">
<![endif]-->

{% comment %} THEME CSS {% endcomment %}
<link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

<link rel="stylesheet" href="{{ site.baseurl }}css/override.css">
<link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
{% if page.stylesheet %}<link rel="stylesheet" href="{{ site.baseurl }}css/{{ page.stylesheet }}.css">{% endif %}

</head>
<body class="layout-reverse loading">
{% comment %} seo {% endcomment %}<!-- {{ page.description }} -->

{{ content }}

<div id="overlay"></div>
<script async defer src="{{ site.baseurl }}js/deferred.js"></script>
<script src="{{ site.baseurl }}js/script.js"></script>
{% if page.js %}<script src="{{ site.baseurl }}js/{{ page.js }}.js"></script>{% endif %}

</body>
</html>
