---
layout: barebones
---

<div class="dots">
  <span></span><span></span><span></span><span></span><span></span><span></span>
  <span></span><span></span><span></span><span></span><span></span><span></span>
  <span></span><span></span><span></span><span></span><span></span><span></span>
</div>

<p class="unsupportedBrowser">
  <strong>Your browser is unsupported.</strong>
  <br/>
  Please run
  <a href="http://windows.microsoft.com/en-us/windows/is-computer-up-to-date">Windows Update</a>
  now to upgrade to the current version.<br/><!--
    of <span href="http://microsoft.com/ie">Microsoft Internet Explorer.</span>
  -->
</p>

<noscript>
  <p class="noscript">
      This website requires JavaScript.
      Please enable JavaScript to continue.
  </p>
</noscript>

{% include sidebar.html layout="page" category="general" %}

<main class="content container {% for x in page.categories %}{{ x }} {% endfor %} {% for x in page.tags %}{{ x }} {% endfor %}">
  {{ content }}
</main>
