---
layout: index
---

<p>
Monty is a senior
<span href="{{site.baseurl}}tech/index.html">front-end developer</span>
and communication technologist with eyes that see through the complexity
to the bones of problems, unmasking the relationships of opportunities.
</p>
<p>
I thrive in challenges that require fresh perspective, demand new insight,
and insist on learning to overcome.
I possess innate strength to remain confident, stay true to purpose,
and drive to results.
</p>
<p>
Call me today!
</p>

<!-- Send me a note? I would love to hear from you. -->
<ul>
  <li>
    Add me in your phone:
    <a href="{{ site.baseurl }}life/contact.vcf" title="Download vCard">{{ site.author.name }}</a>
  </li>
  <li>
    Email: <a
      href='m&#97;&#105;lto&#58;hel&#108;o&#64;mo%6E&#37;74yd&#105;c%&#54;B%65rson&#46;%63&#37;&#54;Fm'
    >h&#101;l&#108;&#111;&#64;mo&#110;t&#121;dicke&#114;son&#46;com</a>
  </li>
  <li>
    Telephone: <a
      href='tel:+1&#45;5%&#51;1&#50;-9%300&#45;&#56;4&#56;%39'
      title="51&#50;-900-&#56;4&#56;9"
    >(5&#49;2) 900 UI/UX</a>
  </li>
</ul>

<p class="socialicons" style="margin-bottom: 0;">
    <a class="twitter" href="https://mobile.twitter.com/{{ site.author.twitter }}"><img
      src="{{ site.baseurl }}images/Free-Social-Icons/Twitter.svg" title="Twitter"
    /></a>
    <a class="linkedin" href="https://linkedin.com/in/{{ site.author.linkedin }}"><img
      src="{{ site.baseurl }}images/Free-Social-Icons/LinkedIN.svg" title="LinkedIn"
    /></a>
    <a class="feed" href="{{ site.baseurl }}tech/atom.xml"><img
      src="{{ site.baseurl }}images/Free-Social-Icons/RSS.svg" title="Newsfeed"
    /></a>
    <a class="email"
        href='m&#97;&#105;lto&#58;hel&#108;o&#64;mo%6E&#37;74yd&#105;c%&#54;B%65rson&#46;%63&#37;&#54;Fm'
      ><img src="{{ site.baseurl }}images/Free-Social-Icons/Mail.svg" title="Email"
    /></a>
</p>

{{ content }}
