---
layout: default
---

<header>
  <h1 class="page-title">
    <time class="day-month-date">Howdy</time>
  </h1>
</header>

<figure class="page-pic" title="{{ page.image.title }}">
  <div class="clock fig">
    <div class="seconds"><div></div></div>
    <div class="hours"  ><div></div></div>
    <div class="minutes"><div></div></div>
  </div>
  <picture style="max-width:{{ page.image.width }}px;">
    <img
      src="{{ site.baseurl }}{{ page.image.url }}"
      alt="{{ page.image.alt }}"
      class="{{ page.image.class }}"
      style="{{ page.image.style }};"
    />
  </picture>
  <figcaption>{{ page.image.caption }}</figcaption>
</figure>

{{ content }}
