---
layout: default
---

<header>
  <h1 class="page-title">
    <time class="day-month-date">Today</time>
  </h1>
  <p class="tags">
    {% if page.categories or page.category %}
        {% if page.category %}<a class="category">{{ page.category }}</a>{% endif %}
        {% for x in page.categories %}<a class="category">{{ x }}</a> {% endfor %}
    {% endif %}
    {% for x in page.tags %} <a>{{ x }}</a>
    {% endfor %}
  </p>
</header>

<figure class="page-pic">
  <div class="clock fig">
    <div class="seconds"><div></div></div>
    <div class="hours"  ><div></div></div>
    <div class="minutes"><div></div></div>
  </div>
  <figcaption>clock</figcaption>
</figure>

<p>Good
<span
  class="eighth-0 eighth-1 eighth-2 eighth-3">morning</span><span
  class="eighth-4 eighth-5"         >afternoon</span><span
  class="eighth-6 eighth-7">evening</span>.</p>

{% comment %}
// // // // // // // // // Twitter // // // // // // // // //
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/puresight" data-widget-id="729805088336666625">Tweets by @puresight</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
// // // // // // // // // Twitter // // // // // // // // //
{% endcomment %}

{{ content }}
