---
layout: default
---

<header>
  <h1 class="page-title">
    <time class="day-month-date">Today</time>
  </h1>
  <ul class="tags">
    {% if page.categories or page.category %}
        {% if page.category %}
          <li class="category"><a xhref="{{ site.baseurl }}tags.html#{{ page.category }}">{{ page.category }}</a></li>
        {% endif %}
        {% for tag in page.categories %}
          <li class="category"><a xhref="{{ site.baseurl }}tags.html#{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
    {% endif %}
    {% for tag in page.tags %}
      <li><a xhref="{{ site.baseurl }}tags.html#{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</header>

<figure class="page-pic">
  <div class="clock fig">
    <div class="seconds"><div></div></div>
    <div class="hours"  ><div></div></div>
    <div class="minutes"><div></div></div>
  </div>
  <figcaption>clock</figcaption>
</figure>

<p>
  Good
  <span class="eighth-0 eighth-1 eighth-2 eighth-3">morning.</span>
  <span class="eighth-4 eighth-5">afternoon.</span>
  <span class="eighth-6 eighth-7">evening.</span>
</p>

{{ content }}
