---
layout: default
---

{% if page.todo %}
<div class="debug">
    <strong>TODO:</strong>
    <ul>{% for x in page.todo %} <li>{{ x }}</li>{% endfor %}</ul>
</div>
{% endif %}

<header>
  <h1>
    {% if page.title == "Home" %}
      {{ page.tagline }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </h1>

  <p class="tags">
    {% if page.categories or page.category %}
        {% if page.category %}<a class="category">{{ page.category }}</a>{% endif %}
        {% for x in page.categories %}<a class="category">{{ x }}</a> {% endfor %}
    {% endif %}
    {% for x in page.tags %} <a>{{ x }}</a>
    {% endfor %}
  </p>
</header>

<figure class="page-pic">
  <picture>{% comment %} http://www.html5rocks.com/en/tutorials/responsive/picture-element/ {% endcomment %}
    <img
      src="{{ site.baseurl }}{{ page.image.url }}"
      alt="{{ page.image.url }}"
      class="{{ page.image.class }}"
      style="{{ page.image.style }}; max-width:{{ page.image.width }}"
    />
  </picture>
  <figcaption>{{ page.image.caption }}</figcaption>
</figure>

{{ content }}

<p class="debug">
  {% if page.date %}Revised: {{ page.date }}<br/>{% endif %}
</p>

<footer>
  Copyright {{ site.time | date: '%Y' }} {{ site.author.name }}
</footer>
