---
layout: default
---

{% if page.title != "Home" and page.title != "Blog" %}

<header>
    <h1 class="page-title">{{ page.title }}</h1>
</header>

<figure class="page-pic">
  <picture>{% comment %} http://www.html5rocks.com/en/tutorials/responsive/picture-element/ {% endcomment %}
    <img
      src="{{ site.baseurl }}{{ page.image.url }}"
      alt="{{ page.image.url }}"
      class="{{ page.image.class }}"
      style="{{ page.image.style }}"
    />
  </picture>
  <figcaption>{{ page.image.caption }}</figcaption>
</figure>

{% endif %}

{{ content }}
