---
layout: default
---


<header>
    <h1 class="page-title">
      {% if page.title == "Home" %}
        {{ page.tagline }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
</header>

{% if page.todo %}
<div class="debug">
    <strong>TODO:</strong>
    <ul class="tags">{% for x in page.todo %} <li>{{ x }}</li>{% endfor %}</ul>
</div>
{% endif %}

<figure class="page-pic">
  <picture>{% comment %} http://www.html5rocks.com/en/tutorials/responsive/picture-element/ {% endcomment %}
    <img
      src="{{ site.baseurl }}{{ page.image.url }}"
      alt="{{ page.image.url }}"
      class="{{ page.image.class }}"
      style="{{ page.image.style }}; max-width:{{ page.image.width }}"
    />
  </picture>
  <figcaption>{{ page.image.caption }}</figcaption>
</figure>

{{ content }}

<p class="debug">
{% if page.date %}Revised: {{ page.date }}<br/>{% endif %}
{% if page.tags %}
  Tags:<span class="tags">{% for x in page.tags %} <span>{{ x }}</span>{% endfor %}</span><br/>
{% endif %}
{% if page.categories %}
  Categories:<span class="categories">{% for x in page.categories %} <span>{{ x }}</span>{% endfor %}</span><br/>
{% endif %}
</p>
